<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DAL.Properties.Settings.Connection" connectionString="Data Source=demowebsample.db.8886690.hostedresource.com;Initial Catalog=demowebsample;User ID=demowebsample;Password=Demo@4242"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>