.wrapper{

width:100%;
margin:0 auto;
border-bottom:0px solid #999;

}

#slider{
width:100%;
height:450px;
overflow:hidden;
margin:6px auto;
}
#slider>img{
width:100%;
height:450px;
float:left;
display:none;
}
	img.top{vertical-align:text-top;
		}

a:link{text-decoration:none; color:black;}
a:visited{text-decoration:none; color:#333;}
a:hover{text-decoration:none; ; }
a:active{text-decoration:none; color:#0FF;}


#menu{
	width: 66%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background:white;
}

#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 15px;
	color: black;
	
	font: bold 14px/25px Arial, Helvetica, sans-serif;
	text-decoration: none;
	
}

#menu li:hover > a{
	color:#0FF;
	background:#000;

}
#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 25px;
    left: 10;
    background:#CCC;	
    }

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    
    
    
}
#menu ul a{    
    padding: 18px;
    height: auto;
    line-height: 0;
    display: block;
    float: none;
    }
#menu ul a:hover{
    background: red;
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));

}

#menu:after{
	visibility: hidden;
	display: block;
	font-size: 10;
	content: " ";
	clear: both;
	height: 0;
}

			p{
				font-size:13px;
				color:#333;
				font-family:Arial, Helvetica, sans-serif;
				text-align:justify;}	
				
					
					.fm{
						font-size:12px;}
						
							
							li{
								font-family:Arial, Helvetica, sans-serif;
								}
								h2{
									
									font-family:Arial, Helvetica, sans-serif;}
									img.bottom{
										{vertical-align:text-bottom;}
										